/* Asegúrate de que el contenedor padre use flexbox para centrar el sidebar */
.parent-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0; /* Elimina el auto margin */
  align-items: center; /* Centra los elementos dentro del sidebar */
}

.sidebar img {
  width: 60px;
  cursor: pointer;
}

.sidebar_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  height: 0;
  transition: height 300ms; /* Añadido height para la transición */
}

.sidebar_list_active {
  height: 300px;
}

.sidebar_list_item {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  list-style: none;
}
